body {
  font-family: "Roboto", sans-serif;
  font-size: 90%;
  margin: 0;
  color: #d4d4d4;
  background-color: #171717;
}

pre {
  font-family: "Roboto Mono", monospace;
}

section > h2 {
  margin-top: 3rem;
}

a {
  color: aqua;
}

a:hover {
  color: aquamarine;
}

hr {
  margin: 40px;
}

.alert-box {
  background: #272727;
  padding: 0.5rem;
  word-break: break-all;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height: normal;
}

/* sidebar */

.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  border-right: 1px solid #3a3a3a;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #d4d4d4;
  padding: 8px 20px;
  text-decoration: none;
}

.sidebar hr {
  margin: 0px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* example-table */

.example-table {
  font-family: "Roboto Mono", monospace;
  font-size: small;
  position: relative;
  width: 100%;
  background: #1e1e1e;
}

.example-table > thead > tr > th {
  position: sticky;
  top: 0;
  color: #d4d4d4;
  padding: 5px 10px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  background: #2f2f2f;
  width: 33%;
  z-index: 2;
}

.example-table > tbody > tr > td:first-child,
.example-table tbody > tr > td:nth-child(2) {
  color: #d4d4d4;
}

.example-table > thead > tr > th,
.example-table > tbody > tr > td {
  border-bottom: 1px solid #3a3a3a;
  padding: 5px;
}

.example-table pre {
  margin: 0;
}
